{% extends 'base.html' %}
{% block title %}
 Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Log in
            </h1>

            <br>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm password") }}

            <br>

            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sn btn-secondary" href="{{ url_for('register.html') }}">Create Account</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-primary") }}

        </form>
    </div>    
        
</body>
{% endblock %}